.box {
  display: flex;
  flex-direction: column;
}
.box1 {
  background-color: #42733f;
  border: 1px solid #ccc;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px;
  align-items: center;
}
